In [2]:
response_code = 404

match response_code:
    case 200:
        print("ok")
    case 201 :
        print("created")
    case 404 :
        print("not fount")
    case 500 :
        print("internal server error")
    case _:
        print("some thing else")

not fount

In [5]:
numbers = [8,6]

match numbers:
    case[x,y]:
        print(x*y)
    case[x,y,z]:
        print(x+y+z)
    case _:
        print("no")

48

In [9]:
list = []

match list:
    case[]:
        print("empty")
    case[x]:
        print("has one element")
    case[x,y]:
        print("has two element")
    case _:
        print("some thing else")

empty

In [10]:
fruits = ["apple","banana","orange"]
for item in fruits:
    print(item)

apple
banana
orange

In [16]:
sq_num =[]
numbers = [7,5,8,4,9,12]

for i in numbers:
    sq_num.append(i*i)
print(sq_num)

[49, 25, 64, 16, 81, 144]

In [ ]:

x = int(input("enter number"))
sq_num = []

for num in range(1,x+1):
    sq_num.append(num*num)

print(sq_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [27]:
numbers = [2,12,9,8]

result = [ num*num for num in numbers ]
print(result)

[4, 144, 81, 64]

In [36]:
numbers = [8,12,-1,5,4,0,-3]

result = [num*num for num in numbers if num>0]
print(result)

[64, 144, 25, 16]

In [ ]:

count =1
num = int(input("enter number"))
sq = []
temp = 1
while temp <= num:
    sq.append(temp)

    count +=1
    temp = count *count
    
print(sq)

[1, 4, 9, 16]

In [52]:
my_list =[2,4,5,0,6,7,12,5,]
for item in my_list:
    if item == 0:
        break
    else :
        print(item)

2
4
5

In [ ]:
my_list =[2,4,5,0,6,7,12,5,]
for item in my_list:
    if item == 0:
        continue
    else :
        print(item)

2
4
5
6
7
12
5

In [6]:

while True :
    x = int(input("enter number"))
    if x ==0 :
        break
    else :
        print(x*x)

49
49
64

In [ ]:
person = {
    "name" :"nima",
    "age":23,
    "gender":"male"
}
for key,value in person.items():
    print(key,value)

for key in person.keys():
    print(key)

for value in person.values():
    print(value)

name nima
age 23
gender male
name
age
gender
nima
23
male

In [9]:
def calculate_circumforance(width,length):
     
     circumforance = (width+length)*2
     return circumforance

calculate_circumforance(10,15)

50

In [11]:
PI_VALUE =3.14

def area_of_cricle(radius):
    area_of_cricle = (PI_VALUE*radius**2)
    return  area_of_cricle 

area_of_cricle(3)

28.26

In [12]:
def add_numbers(a,b):
    return a+b
print(add_numbers(b=3,a=5))

8

In [ ]:
'''
def calculate_cost(price,quantity,discount=0,tax=0):
    total = price*quantity

    discount_price=total-(total * discount)/100

    tax_amount=discount_price+tax/100
    sub_total = discount_price+tax_amount

    return sub_total
calculate_cost(price=200,quantity=3)
'''
#mutiline comments

'def calculate_cost(price,quantity,discount=0,tax=0):\n    total = price*quantity\n\n    discount_price=total-(total * discount)/100\n\n    tax_amount=discount_price+tax/100\n    sub_total = discount_price+tax_amount\n\n    return sub_total\ncalculate_cost(price=200,quantity=3)'

In [25]:
my_str = '''I love computer science,
            I study of IJSE,
            I live in Galle. '''
print(my_str)

I love computer science,
            I study of IJSE,
            I live in Galle.

In [31]:
my_str ="hello world"
print(len(my_str))
print(my_str[4])
print(my_str[2:8])
print(my_str.upper())
print(my_str.lower())

11
o
llo wo
HELLO WORLD
hello world

In [ ]:
my_str="   hello world  "
print(my_str)
my_str.strip()
print(my_str)

-   hello world
-   hello world