In [9]:
my_list_1 = [8,5,9,2,11]

my_list_2 = my_list_1.copy()

print(my_list_2)

[8, 5, 9, 2, 11]

In [12]:
my_tuple = (2,4,"apple",True,2)
print(len(my_tuple))
print(type(my_tuple))

5
<class 'tuple'>

In [16]:
my_tuple = (2,4,"apple",True,2)
print(my_tuple[-2])
print(my_tuple[1:3])

True
(4, 'apple')

In [14]:
my_tuple_1 =(2,)
print(type(my_tuple_1))

<class 'tuple'>

In [18]:
my_tuple =(2,3,4,3,8)
my_list_1 = list(my_tuple)
print(type(my_list_1))

my_list_1[2] =15
my_tuple = tuple(my_list_1)
print(my_tuple,type(my_tuple))

<class 'list'>
(2, 3, 15, 3, 8) <class 'tuple'>

In [23]:
my_tuple =((1,2,2),("apple","banana","grapes"),(True,False))
print(my_tuple[1][1])
print(my_tuple[2][1])

banana
False

In [ ]:
range1 =range(1,11,2)

print(type(range1))
print(range1[1])
print(len(range1))

<class 'range'>
<class 'range'>
3
5

In [ ]:
my_dic = {
    "name":"sugar",
    "price": "200.00",
    "weight":" 1kg",
    "price": "260.00"
}
print(my_dic)
print(type(my_dic))
print(my_dic["price"])

my_dic["price"]=300.00
print(my_dic)

{'name': 'sugar', 'price': '260.00', 'weight': ' 1kg'}
<class 'dict'>
260.00
{'name': 'sugar', 'price': 300.0, 'weight': ' 1kg'}

In [39]:
my_list = {
    "name":"sugar",
    "price": "200.00",
    "weight":" 1kg"
}

print(my_list.get("price"))
print(my_list.get("expire_date"))
print(my_list.get("expire_date","2025.10.4"))

my_list.update({"price":290.00,"weight":"3kg"})
print(my_list)

my_list["colour"]="white"
print(my_list)

200.00
None
2025.10.4
{'name': 'sugar', 'price': 290.0, 'weight': '3kg'}
{'name': 'sugar', 'price': 290.0, 'weight': '3kg', 'colour': 'white'}

In [ ]:
my_dic = {
    "name":"sugar",
    "price": "200.00",
    "weight":" 1kg"
}
# my_dic.pop("weight")
# print(my_dic)

# del my_dic["name"]
# print(my_dic)
 
# del my_dic
# print(my_dic)

my_dic.clear()
print(len(my_dic))

0

In [47]:
x,y=9,4
print(x//y)

x=7
x+=5
print(x)
x=10
x%=2
print(x)

2
12
0

In [ ]:
x=4
y=5
print(x==y)
print(x!=y)

False
True

In [51]:
x=2
c=4
print(x<10 and c<1)

False

In [62]:
x=6
y=6
print(x is y)

True

In [63]:
my = [12,2,4,56,8]
print(2 in my)
print(100 in my)

True
False

In [1]:
x=5
y=10
print(x & y)

x=5
y=10
print(x | y)

x=5
y=3
print(x^y)

0
15
6

In [5]:
a=8
if a>5:
    print("hi")
else:
    print("not")

hi

In [69]:
x = input("enter new number :")
print(x)
print(type(x))

6
<class 'str'>

In [77]:
y = input("enter number")
x = int(y)
if (x%2 ==0) :
    print("even  number")
else:
    print("odd number")

odd number

In [82]:
x = input("enter number")
y = int(x)
if (y<0):
    print("negative number")
if (y>0):
    print("positive num")
    if (y%7 == 0) :
        print("multipart of 7")
    else :
        print("not a multipart of 7")

positive num
not a multipart of 7

In [83]:
x=10
y=2
if x==y:
    print("numbers are equlas")
elif x>y:
    print("x is greater than y")
else :
    print("x is less than y")

x is greater than y

In [94]:
x=input("enter marks")
marks = int(x)

if marks<0 or marks>100  :
    print("out of range")
elif marks >= 85 :
    print("A")
elif marks >= 75 :
    print("B")
elif  marks >= 65 :
    print("C")
elif marks >= 50 :
    print("D")
else :
    print("F")

D

In [95]:
x=220
results ="even" if x%2 == 0 else "odd"
print(results)

even

In [102]:
my_list=[2,3,4,5,78,5,8,32]
# my_list[1:6]
my_list[2:7:2]

[4, 78, 8]

In [103]:
d1 ={"a":1}
d2 ={"d":4}
d3 = d1|d2
print(d3)

{'a': 1, 'd': 4}

In [104]:
my = [12,23,56]
c,v,n =my
print(c,v,n)

12 23 56

In [3]:
x= 5
print(~x)

-6